<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/" layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" th:fragment="content">

    <form class="user"  method="post">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h1 class="m-0 font-weight-bold text-primary">Booking Form</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <tr>

                            <td>Room Type:</td>
                            <td>
                                <div >
                                    <select>
                                        <option >ROOM TYPE
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h2 class="h3 mb-0 text-gray-800"
                                       >Member's Info</h2>
                                </div>
                            </td>
                            <td/>
                        </tr>
                        <tr>
                            <td>Children(s)</td>
                            <td>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="children"
                                           id="###" placeholder="children's" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Adult(s)[18+]</td>
                            <td>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="adults"
                                           id="" placeholder="adults" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Senior-Citizen(s)</td>
                            <td>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="citizens"
                                           id="" placeholder="senior-citizens" >
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block"
                >
            Book Room
        </button>

    </form>


</div>
</body>
</html>