<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/" layout:decorate="template">

<head>

  
  <title>SB Admin 2 - Dashboard</title>

  
</head>

<body id="page-top">

		<!-- Begin Page Content -->
        <div class="container-fluid" th:fragment="content">

   		<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users List</h1>
            <a href="/add-user" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-users fa-sm text-white-50"></i> Add User</a>
          </div>

         
         	 <!-- USER TABLE -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Users Table</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
	                      <th>First Name</th>
	                      <th>Last Name</th>
	                      <th>Email</th>
	                      <th>Roles</th>
	                      <th>Language</th>
	                      <th>Status</th>
                    	<th>Action</th>	
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each ="user : ${users}">
                      <td th:text="${user.firstName}"></td>
                      <td th:text="${user.lastName}"></td>
                      <td th:text="${user.email}"></td>
                      <td th:text="${user.roles}"></td>
                      <td th:text="${user.lang.name}"></td>
                      <td th:text="${user.status}"></td>
                      <td class="text-center">
                      	<a th:href="${'/edit-user/'+user.id}" class="btn btn-primary btn-circle mr-3">
                   			 <i class="fa fa-pencil-alt"></i>
                  		</a>
                      
                      	<a th:href="${'/update-user/delete/'+user.id}" class="btn btn-danger btn-circle">
                   			 <i class="fas fa-trash"></i>
                  		</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          </div>
          
</body>

</html>
